
@font-face {
   font-family: 'MADE TheArtist Script';
   src: url('../fonts/madetheartistscript/Madetheartistscript.woff2') format('woff2'),
        url('../fonts/madetheartistscript/Madetheartistscript.woff') format('woff');
   font-weight: 400;
   font-display: normal;
}
