@import "vars";
@import "fonts";
@import "reset";
@import "global";

//start header
.header {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
}
.header__inner {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
}
.header__menu {
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.menu__left {
   display: flex;
   a {
      display: inline-block;
      text-transform: uppercase;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #fff;
      & + a {
         margin-left: 60px;
      }
   }
}
.menu__btn {
   margin-right: 12px;
   cursor: pointer;
   div {
      background-color: #fff;
      width: 25px;
      height: 1px;
      & + div {
         margin-top: 7px;
      }
   }
}
.logo {
   max-height: 120px;
}
.menu__right {
   display: flex;
   align-items: center;
   a + a {
      margin-left: 30px;
   }
   .phone {
      letter-spacing: 0.02em;
      text-transform: uppercase;
      font-feature-settings: "pnum" on, "lnum" on;
      color: #fff;
   }
   .like {
      background-image: url(../images/icon/like.svg);
      width: 32px;
      height: 30px;
   }
   .login {
      background-image: url(../images/icon/login.svg);
      width: 31px;
      height: 30px;
   }
   .basket {
      background-image: url(../images/icon/basket.svg);
      width: 37px;
      height: 32px;
      position: relative;
      span {
         position: absolute;
         background-color: #cb9e76;
         width: 28px;
         height: 28px;
         border-radius: 50%;
         text-align: center;
         line-height: 27px;
         right: -10px;
         top: -7px;
         font-size: 11px;
         color: #fff;
      }
   }
}
.header__content {
   color: #cb9e76;
   .title-made {
      font-size: 260px;
   }
   .title-raleway {
      font-size: 215.273px;
   }
   .text {
      color: #fff;
      max-width: 541px;
      text-transform: uppercase;
   }
   &-box {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }
}
.header__bottom {
   padding-bottom: 48px;
   text-align: center;
}
//end header

//start slider
.slider__item {
   min-height: 835px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.slider__item-text {
   max-width: 760px;
   margin-top: 139px;
   .title-raleway {
      font-size: 100px;
      line-height: 117px;
      text-transform: uppercase;
      color: #2f3338;
   }
   .title-made {
      color: #fff;
      font-size: 120px;
      line-height: 110px;
      margin-bottom: 37px;
      margin-top: -73px;
   }
   .text {
      font-size: 21px;
      line-height: 140%;
      color: #2f3338;
   }
}
.slick-dots {
   display: flex;
   justify-content: center;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 45px;
   li {
      button {
         font-size: 0;
         border: none;
         width: 35px;
         height: 35px;
         border-radius: 50%;
         background-color: transparent;
         border: none;
         position: relative;
         &::before {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            background-color: #cb9e76;
            border-radius: 50%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
         }
      }
      & + li {
         margin-left: 27px;
      }
   }
   .slick-active {
      button{
         border: 1px solid #cb9e76;
      }
   }
}

//end slider

@import "midia";
