@import "vars";
@import "fonts";
@import "reset";
@import "global";

//*************  start header *****************
.header.header-home {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.header__inner.header__inner-home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.header__menu {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu-wrapper.header__menu-white {
  background-color: #fff;
  .menu__btn {
    div {
      background-color: #000;
    }
  }
  .menu__left,
  .menu__right {
    a {
      color: #000;
      &:hover {
        color: #cb9e76;
      }
    }
  }
  .like,
  .login,
  .basket {
    path {
      stroke: #000;
    }
    &:hover {
      path {
        stroke: #cb9e76;
      }
    }
  }
}

.menu__left {
  display: flex;
  a {
    display: inline-block;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #fff;
    & + a {
      margin-left: 60px;
    }
    &:hover {
      color: #cb9e76;
    }
  }
}
.menu__btn {
  margin-right: 12px;
  cursor: pointer;
  div {
    background-color: #fff;
    width: 25px;
    height: 2px;
    & + div {
      margin-top: 7px;
    }
  }
}
.logo {
  display: flex;
}
.menu__right {
  display: flex;
  align-items: center;
  a + a {
    margin-left: 30px;
  }
  .phone {
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #fff;
    &:hover {
      color: #cb9e76;
    }
  }
  .basket {
    position: relative;
    span {
      position: absolute;
      background-color: #cb9e76;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      text-align: center;
      line-height: 27px;
      right: -10px;
      top: -7px;
      font-size: 11px;
      color: #fff;
    }
  }
  .like,
  .login,
  .basket {
    &:hover {
      path {
        stroke: #cb9e76;
      }
    }
  }
}
.header__content {
  color: #cb9e76;
  .title-made {
    font-size: 260px;
    margin-left: 40px;
  }
  .title-raleway {
    font-size: 215.273px;
  }
  .text {
    color: #fff;
    max-width: 541px;
    text-transform: uppercase;
  }
  &-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
  }
}
.header__bottom {
  padding-bottom: 48px;
  text-align: center;
}
.navigation__bar {
  margin-top: 81px;
  margin-bottom: 100px;
}
.catalog__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cb9e76;
  border-bottom: 1px solid #cb9e76;
  button {
    height: 52px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2f3338;
    &:hover {
      background-color: #cb9e76;
      color: #fff;
    }
  }
}

//*****************  end header  *****************

//*****************  start slider  *****************
.slider-top {
  .slider__item {
    min-height: 835px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .slider__item-text {
    max-width: 760px;
    margin-top: 139px;
    .title-raleway {
      font-size: 100px;
      line-height: 117px;
      text-transform: uppercase;
      color: #2f3338;
    }
    .title-made {
      color: #fff;
      font-size: 120px;
      line-height: 110px;
      margin-bottom: 37px;
      margin-top: -73px;
    }
    .text {
      font-size: 21px;
      line-height: 140%;
      color: #2f3338;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 45px;
    li {
      button {
        font-size: 0;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          background-color: #cb9e76;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
      & + li {
        margin-left: 27px;
      }
    }
    .slick-active {
      button {
        border: 1px solid #cb9e76;
      }
    }
  }
}
//*****************  end slider *****************

//startphoto-product
.photo-product {
  position: relative;
}
.photo-product__title {
  display: inline-block;
  position: relative;
  z-index: 1;
  span {
    display: block;
    margin-left: 20%;
  }
  div {
    position: absolute;
    font-size: 100px;
    color: #cb9e76;
    margin-left: 15%;
    text-transform: lowercase;
    top: -100px;
  }
}
.photo-product__inner {
  display: flex;
  justify-content: center;
  margin-left: 14%;
  margin-top: -15%;
}
.photo-product__item {
  margin: auto 0;
}
.photo-product__item-img {
  width: 423px;
  height: 423px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
.photo-product__item-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  span:hover {
    path {
      stroke: #cb9e76;
    }
    circle {
      stroke: #cb9e76;
    }
  }
}
.photo-product__item-text {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 330px;
}
.photo-product__item-icon.none {
  display: none;
}
.photo-product__item-text.active {
  display: block;
}

.photo-product__item-center {
  margin: 0 32px;
  .photo-product__item-img + .photo-product__item-img {
    margin-top: 32px;
  }
}
.photo-product__slider {
  margin-top: -75px;
  padding-bottom: 55px;
  .slick-next.slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .slick-prev {
    position: absolute;
    bottom: -65px;
    right: 50%;
    transform: translate(-50%);
  }
  .slick-next {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%);
    margin-left: 66px;
  }
}
//*****************  end photo-product  *****************

//***************** start corneotherapy *****************

.corneotherapy__title {
  position: relative;
  div {
    font-style: normal;
    font-size: 100px;
    line-height: 0px;
    color: #cb9e76;
    text-transform: initial;
    margin-left: 35%;
    margin-top: -30px;
  }
}
.corneotherapy__inner {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}
.corneotherapy__item-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .corneotherapy__item-text {
    margin-top: 150px;
  }
}
.corneotherapy__item-btn {
  display: flex;
  align-items: center;
  a {
    font-weight: 300;
    font-size: 21px;
    text-decoration-line: underline;
    color: #2f3338;
  }
  span {
    margin-left: 12px;
    width: 70px;
    height: 70px;
    border: 1px solid rgba(47, 51, 56, 1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      border: 1px solid #fff;
      background-color: #cb9e76;
      path {
        stroke: #fff;
      }
    }
  }
}

.corneotherapy__item-2 {
  min-width: 657px;
  height: 675px;
  background-color: #2f3338;
  margin: 0 35px 0 86px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 155px;
    height: 155px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    &:hover {
      border: 1px solid #cb9e76;
      path {
        fill: #cb9e76;
        stroke: #cb9e76;
      }
    }
  }
}
.corneotherapy__item-3 {
  display: flex;
  align-items: flex-end;
}
//***************** end corneotherapy *****************

//***************** start product-categories *****************
.product-categories__title {
  div {
    font-size: 170px;
    color: #cb9e76;
    margin-left: 45%;
    margin-top: -135px;
  }
}
.product-categories__slider-item-wrapper {
  width: 330px;
  height: 520px;
  border: 1px solid transparent;
  padding: 20px;
  &:hover {
    border: 1px solid #cb9e76;
  }
  .slider__item-img {
    height: 390px;
  }
  img {
    max-height: 100%;
    margin: 0 auto;
  }
  .slider__item-text {
    margin: 0;
    font-size: 28px;
    text-transform: uppercase;
    color: #2f3338;
    border-top: 1px solid #cb9e76;
    padding-top: 10px;
  }
}
.product-categories__slider {
  margin-top: 50px;
}
.product-categories__slider-inner {
  padding-bottom: 55px;
  .slick-next.slick-next.slick-arrow,
  .slick-prev.slick-arrow {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .slick-prev {
    position: absolute;
    bottom: -65px;
    right: 50%;
    transform: translate(-50%);
  }
  .slick-next {
    position: absolute;
    bottom: -65px;
    left: 50%;
    transform: translate(-50%);
    margin-left: 66px;
  }
}

//***************** end product-categories *****************

//***************** start care *****************
.care__title {
  div {
    font-size: 170px;
    color: #cb9e76;
    margin-left: 45%;
    margin-top: -108px;
    text-transform: lowercase;
  }
}
.care__text {
  max-width: 580px;
  margin-bottom: 100px;
}
.care__wrapper {
  max-width: 1162px;
  position: relative;
  .care-bg {
    position: absolute;
    bottom: -40px;
    left: -160px;
    z-index: -1;
  }
}
.care__item {
  display: flex;
  justify-content: space-between;
  .care__item-number {
    font-family: "MADE TheArtist Script";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 100%;
    color: #2f3338;
  }
  .care__item-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #2f3338;

    span {
      display: block;
      text-align: right;
    }
  }
  & + .care__item {
    margin-top: 100px;
  }
}
//***************** end care *****************

//***************** start consultation *****************
.consultation {
  margin: 200px 0 200px;
}
.consultation__title {
  span {
    display: inline-block;
    margin-left: 15%;
  }
}
.consultation__inner {
  position: relative;
}
.consultation__form-wrapper {
  display: flex;
}
.consultation__item {
  margin-left: 15%;
  margin-top: 67px;
}
.consultation__text {
  max-width: 408px;
  color: #2f3338;
  margin-bottom: 41px;
}
.consultation__form-input {
  .input-form {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    width: 342px;
    &::placeholder {
      color: #000;
      opacity: 0.5;
    }
  }
  input + input {
    margin-top: 27px;
  }
}
.consultation__form-button {
  button {
    display: inline-block;
    width: 162px;
    height: 162px;
    background-color: transparent;
    border-radius: 50%;
    margin-left: 80px;
    &:hover {
      background: #cb9e76;
      border: 1px solid #ffffff;
      path {
        stroke: #ffffff;
      }
    }
  }
}
.consultation__item-img {
  position: absolute;
  max-width: 550px;
  top: -120%;
  right: 0;
  z-index: -1;
}
//***************** end consultation  *****************

//***************** start blog *****************
.blog__title {
  margin-bottom: 67px;
}
.blog__wrapper {
  display: flex;
  justify-content: center;
}
.blog__col-1 {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 33px;
  .blog__item + .blog__item {
    margin-top: 33px;
  }
}
.blog__item-l {
  max-width: 892px;
}
.blog__item-m {
  max-width: 533px;
}
.blog__item-s {
  max-width: 345px;
  height: 376px;
}
.blog__item {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      360deg,
      #2f3338 -0.04%,
      rgba(47, 51, 56, 0) 99.96%
    );
    opacity: 0.8;
  }
}
.blog__col-string {
  display: flex;
  align-items: flex-end;
  margin-bottom: 33px;
  .blog__item + .blog__item {
    margin-left: 33px;
  }
}
.blog__item-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.blog__item-date {
  text-align: right;
  font-size: 60px;
  color: #ffffff;
  line-height: 1;
}
.blog__item-box {
  padding: 25px 47px 25px 25px;
  position: absolute;
  bottom: 0;
  top: auto;
  z-index: 1;
}
.blog__item__title {
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
}
.blog__item-text {
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
}
.blog__item {
  .blob__item-link {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .blog__link-wrapper {
    text-align: center;
    p {
      margin-top: 15px;
      color: #fff;
    }
  }
  &:hover {
    .blob__item-link {
      display: flex;
    }
    .blog__item-box {
      display: none;
    }
  }
}
//***************** end blog *****************

//***************** start subscription *****************

.subscription__title {
  padding-top: 20px;
  max-width: 1070px;
  text-align: end;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  text-transform: uppercase;
  color: #2f3338;
  margin-bottom: 50px;
  span {
    font-family: "MADE TheArtist Script";
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    text-transform: lowercase;
    color: #cb9e76;
  }
}
.subscription__bottom {
  form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 720px;
  }
}
.subscription__bottom {
  padding: 50px 0 33px;
  background-color: #cb9e76;

  .line-2 {
    margin-top: 20px;
  }
  .form__btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #fff;
        path {
          stroke: #cb9e76;
        }
      }
    }
    .form__button {
      text-decoration-line: underline;
      color: #ffffff;
      border: none;
      background-color: transparent;
      margin-right: 10px;
    }
  }
  .checkbox {
    color: #ffffff;
    opacity: 0.5;
  }
}
.checkbox {
  width: 100%;
  padding: 0 0 0 36px;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type="checkbox"] + span {
  position: absolute;
  left: 0;
  top: 0px;
  width: 18px;
  height: 18px;
  background: url(../images/check.svg) no-repeat;
  cursor: pointer;
  background-position: -50px 0;
  background-size: 10px;
  background-color: transparent;
  opacity: 0.5;
  border: 1px solid #ffffff;
}
.checkbox input[type="checkbox"]:checked + span {
  background-position: center center;
}
//***************** end subscription *****************

//***************** start footer *****************
.footer {
  padding: 175px 0 176px;
  background-color: #2f3338;
}
.footer__contacts {
  margin-bottom: 80px;
  .footer-phone {
    font-feature-settings: "pnum" on, "lnum" on;
  }
  a {
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 64px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 0.02em;
    font-style: normal;
    &:hover {
      color: #cb9e76;
    }
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  a:hover {
    color: #cb9e76;
  }
  &-left {
    order: 1;
    color: #fff;
    a {
      color: #fff;
    }
    p {
      margin-top: 23px;
    }
  }
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    a {
      border: 1px solid #cb9e76;
      width: 161.6px;
      height: 163.79px;
      background-color: transparent;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      & + a {
        margin-left: 20px;
      }
    }
    a:hover {
      border: 1px solid #fff;
      .whatsapp-svg {
        path:first-child {
          fill: #fff;
        }
        path {
          stroke: #fff;
        }
      }
    }
  }
  &-right {
    order: 3;
    a {
      color: #fff;
      text-transform: uppercase;
      &:hover {
        color: #cb9e76;
      }
    }
  }
}

//***************** end footer *****************

//***************** start product ****************
.product {
  margin-bottom: 100px;
}
.product__inner {
  margin: -20px;
  display: flex;
  flex-wrap: wrap;
}
.product__item {
  width: 25%;
  padding: 40px;
}
.product__item-wrapper {
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2f3338;
  padding: 10px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #cb9e76;
  }
}
.product__item-img {
  min-height: 480px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  span {
    position: absolute;
    width: 126px;
    height: 125px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cb9e76;
    font-size: 18px;
    line-height: 100%;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #cb9e76;
    top: 0;
    left: 0;
  }
}
.product__tem-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #cb9e76;
}
.product__item-box {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.product__item-volume {
  opacity: 0.3;
}
//***************** end product *****************

//***************** start cart-product *****************
.cart-product__inner{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 170px;
}
.cart-product__item-description {
  max-width: 736px;

}
.cart-product__item-name {
  .cart-product__item-title {
    font-weight: 300;
    font-size: 64px;
    line-height: 100%;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #2f3338;
  }
  p {
    font-feature-settings: "pnum" on, "lnum" on;
    display: inline-block;
    margin-top: 5px;
    & + p {
      margin-left: 26px;
      opacity: 0.5;
    }
  }
  .cart-product__item-icon {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  span {
    display: inline-block;
    margin-right: 5px;
    & + span {
      margin-left: 5px;
    }
  }
}
.cart-product__item-order {
  display: flex;
  margin-top: 50px;
  align-items: center;
  .like {
    path {
      stroke: #000;
    }
  }
}
.cart-product__item-price {
  font-size: 40px;
  line-height: 100%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #2f3338;
  margin-right: 35px;
}
.product__item-counter {
  display: flex;
  align-items: center;
  margin-right: 35px;
  .counter__btn {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #2f3338;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .counter__btn-plus {
    margin-left: 8px;
    &::before {
      content: "+";
    }
  }
  .counter__btn-minus {
    margin-right: 8px;
    &::before {
      content: "-";
    }
  }
  .counter__value {
    border: none;
    background-color: transparent;
    max-width: 15px;
  }
  .counter__btn-button {
    padding: 19px 33px 20px;
    background-color: #cb9e76;
    text-transform: uppercase;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #ffffff;
    border: none;
    margin-left: 33px;
  }
}
.cart-product__item-text {
  margin-top: 37px;
}
.cart-product__item-info {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.cart-product__item-advantages,
.cart-product__item-application,
.cart-product__item-compound {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #2f3338;
    position: relative;
    &::before {
      content: "+";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
//***************** end cart-product *****************

@import "media";
